<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="bidirectional transformation, update language, domain specific language, yacc" />
    <title>BiYacc: Roll Your Parser and Reflective Printer into One</title>

    <link type="text/css" href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="/stylesheets/styles.css" rel="stylesheet">
    <script type="text/javascript" src="/javascripts/exampleChoose.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
    <script type="text/javascript" src="/javascripts/execution.js"></script>

  </head>

  <body onload = "chooseExample('expr')">
    <div id="page">
      <div class="header"> <!-- Defining the header section of the page with the appropriate tag -->
        <h1>BiYacc</h1>
        <div class="nav clear" id="fnav"> <!-- The nav link semantically marks your main site navigation -->
          <ul>
            <li><a href="#article1">Abstract</a></li>
            <li><a href="#article2">Demonstration</a></li>
            <li><a href="#article3">Source</a></li>
            <li><a href="#article4">Member</a></li>
            <li><a href="#article5">Acknowledgment</a></li>
          </ul>
        </div>
      </div>

      <div>
        <div class="line"></div>
          <h2>Roll Your Parser and Reflective Printer into One</h2>
        <div class="line"></div>
      </div>

      <div class="article" id="article1">
        <div class="RTopic" id="abstract">Abstract </div>
        <div id = "abstract_contents">
          <p>Language designers usually need to implement parsers and printers. Despite being two intimately related programs, in practice they are often designed separately, and then need to be revised and kept consistent as the language evolves. It will be more convenient if the parser and printer can be unified and developed in one single program, with their consistency guaranteed automatically.</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;Furthermore, in certain scenarios (like showing compiler optimisation results to the programmer), it is desirable to have a more powerful reflective printer that, when an abstract syntax tree corresponding to a piece of program text is modified, can reflect the modification to the program text while preserving layouts, comments, and syntactic sugar.</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;To address these needs, we propose a domain-specific language BiYacc, whose programs denote both a parser and a reflective printer for an unambiguous context-free grammar. BiYacc is based on the theory of bidirectional transformations, which helps to guarantee by construction that the pairs of parsers and reflective printers generated by BiYacc are consistent. We show that BiYacc is capable of facilitating many tasks such as Pombrio and Krishnamurthi’s “resugaring”, language evolution, and refactoring.</p>
        </div>
      </div>

      <div class="article" id="article2">
        <div class="RTopic">Test Cases</div>
        <div>
          We have tested our system with some examples. Please enjoy them.
          <br>
          A few notes:
          <ul>
            <li>Please leave the source empty if you want a traditional printer, however, it will produce ugly results as for current BiYacc.</li>
            <li>The compilation may take much time. For Tiger example, it may take up to half a minute.
            <br>
            (The most time consuming part is the compilation of the parser generated by Happy.)
            </li>
            <li>The warning and error messages produced from Happy may not be gathered and shown in this webGUI.</li>
            <li>
              <font color = "red">The server will do cleaning every hour. Your compiled program may be deleted at that time.</font>
            </li>
          </ul>
          <div class="styled-select" style="width:400px;">
            <select name="exampleChoice" onchange="chooseExample(value)" style="width:400px;">
              <!-- <option value="empty">Select one</option> -->
              <option value="expr">Arithmetic expression</option>
              <option value="tigerAmbi">The Tiger language (ambiguous grammar)</option>
              <option value="tigerUnambi">The Tiger language (unambiguous grammar)</option>
              <!-- <option value="biyacc">biyacc actions</option> -->
            </select>
          </div>
        </div>

        <div>
          <ul>
            <li>
              <div class="Step" id="step1">
                <div class="StepName">Abstract syntax</div>
                <div id="tdtd">
                  <textarea class="code" id="abstractSyntax"></textarea>
                </div>
              </div>
            </li>
            <li>
              <div class="Step" id="step2">
                <div class="StepName">Concrete syntax</div>
                <div id="sdtd">
                  <textarea class="code" id="concreteSyntax"></textarea>
                </div>
              </div>
            </li>
            <li id="ulStep3">
              <div class="Step" id="step3">
                <div class="StepName">Updating strategies </div>
                <!-- <div id="selectQuery"> </div> -->
                <div class="UpdateQuery" id="uQuery">
                  <textarea class = "code" id="actions"></textarea>
                </div>
              </div>
            </li>

            <li id="step4">
              Compilation <br/>
              <div class="StepDescription">
                <p>Please click the compile button. The compilation may take up to half a minute. (especially for big examples such as Tiger)<br>
                   If the code is compiled successfully, boxes showing source, view and log will be shown. <br>
                   If not, the error message will be shown in a console.</p>
              </div>
              <input id="compileSubmit" type="submit" value="Compile" onclick="exeUpdate()"/>
              <br/>
            </li>
          </ul>
        </div>
        <div class="articleBody clear"></div>
      </div>


      <div class="article" id="article3">
        <div class="RTopic">Source</div>
        <ul>
          <li><a href="src/biyacc_src.zip">Source code of BiYacc.</a></li>
          <li><a href="src/webgui.zip">Web-GUI source (this site).</a></li>
          <li><a href="tiger.by">BiYacc program for the Tiger language.</a></li>
        </ul>
        <br />
        <b>Installation Guide</b>
        <br />
        Generally, you should install GHC (The Glasgow Haskell Compiler), BiGUL, BiYacc in order. <br />
        <ul>
          <li>For GHC, please refer to <a href = "https://www.haskell.org/ghc/">https://www.haskell.org/ghc/</a>.</li>
          <li>BiGUL can be installed by fire the command "cabal install bigul" in the terminal.</li>
          <li>For BiYacc, please first download the <a href="src/biyacc_src.zip">source code</a>.
        In BiYacc's root directory, run "cabal install" in the terminal.</li>
        </ul>
        After that you may use BiYacc in your command line: "biyacc biyaccProgramName outputExecutableName".
        <div class="articleBody clear"></div>
      </div>

      <div class="article" id="article4">
        <div class="RTopic">Team Members</div>

          <div class="row">
            <div class="col-md-2">
              <p><a href="http://www.prg.nii.ac.jp/members/zhu/index.html">Zirun Zhu</a></p>
            </div>
            <div class="col-md-10"><p>PhD student, SOKENDAI (The Graduate University for Advanced Studies)</p></div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <p><a href="http://www.prg.nii.ac.jp/members/zhang/">Yongzhe Zhang</a></p>
            </div>
            <div class="col-md-10"><p>PhD student, SOKENDAI (The Graduate University for Advanced Studies)</p></div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <p><a href="http://researchmap.jp/joshko/">Hsiang-Shang Ko</a></p>
            </div>
            <div class="col-md-10"><p>Postdoc researcher, National Institute of Informatics</p></div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <p><a href="https://isr.uci.edu/users/pedro-ribeiro-martins">Pedro Martins</a></p>
            </div>
            <div class="col-md-10"><p>Assistant Project Scientist, University of California - Irvine</p></div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <p><a href="http://haslab.uminho.pt/jas/">João Saraiva</a></p>
            </div>
            <div class="col-md-10"><p>Professor, University of Minho</p></div>
          </div>

          <div class="row">
            <div class="col-md-2">
              <p><a href="http://research.nii.ac.jp/~hu/">Zhenjiang Hu</a></p>
            </div>
            <div class="col-md-10"><p>Professor, National Institute of Informatics</p></div>
          </div>
        <div class="articleBody clear"></div>
      </div>

      <div class="article" id="article5">
      <div class="RTopic">Acknowledgments</div>
         <p>Thank Tao Zan for the template of this website.</p>
      <div class="articleBody clear"></div>
      </div>

      <div class="footer">
        <div class="line"></div>
        <p>Copyright 2015-2016 Programming Research Laboratory</p>
        <a href="#" class="up">Go UP</a>
      </div>
    </div> <!--  end id = page-->
  </body>
</html>
