<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="bidirectional transformation, update language, domain specific language, yacc" />
    <title>BiYacc: Roll Your Parser and Pretty-Printer into One</title>
    <script type="text/javascript" src="/javascripts/exampleChoose.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/styles.css" />
      <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
      <script type="text/javascript" src="/javascripts/jquery.scrollTo-1.4.2/jquery.scrollTo-min.js"></script>
      <script type="text/javascript" src="/javascripts/script.js"></script>
      <script type="text/javascript" src="/javascripts/execution.js"></script>
  </head>
  
  <body onload = "chooseExample('expr')">
    <div id="page">
      <div class="header" id = "fheader"> <!-- Defining the header section of the page with the appropriate tag -->
        <h1>BiYacc</h1>
        <div class="nav clear" id="fnav"> <!-- The nav link semantically marks your main site navigation -->
          <ul>
            <li><a href="#article1">Abstract</a></li>
            <li><a href="#article2">Demonstration</a></li>
            <li><a href="#article3">Sources</a></li>
            <li><a href="#article4">Members</a></li>
            <li><a href="#article5">Acknowledgments</a></li>
          </ul>
        </div>
      </div>
  BiYacc websige is in emergency maintenance...sorry for the inconvenience.
  </div>
  </body>
</html>
