<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="bidirectional transformation, update language, domain specific language, yacc" />
    <title>BiYacc: Roll Your Parser and Reflective Printer into One</title>

    <link type="text/css" href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <link type="text/css" href="/stylesheets/styles.css" rel="stylesheet">
    <script type="text/javascript" src="/javascripts/exampleChoose.js"></script>
    <script type="text/javascript" src="/javascripts/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="/javascripts/script.js"></script>
    <script type="text/javascript" src="/javascripts/execution.js"></script>

  </head>

  <body onload = "chooseExample('expr')">
    <div id="page">
      <div class="header"> <!-- Defining the header section of the page with the appropriate tag -->
        <h1><span class="small-caps">BiYacc</span></h1>
        <div class="nav clear" id="fnav"> <!-- The nav link semantically marks your main site navigation -->
          <ul>
            <li><a href="#article1">Abstract</a></li>
            <li><a href="#article2">Demonstration</a></li>
            <li><a href="#article3">Source</a></li>
            <li><a href="#article4">Member</a></li>
            <li><a href="#article5">Acknowledgment</a></li>
          </ul>
        </div>
      </div>

      <div>
        <div class="line"></div>
          <h2>Roll Your Parser and Reflective Printer into One</h2>
        <div class="line"></div>
      </div>

      <div class="article" id="article1">
        <div class="RTopic" id="abstract">Abstract </div>
        <div id = "abstract_contents">
          <p>Language designers usually need to implement parsers and printers. Despite being two intimately related programs, in practice they are often designed separately, and then need to be revised and kept consistent as the language evolves. It will be more convenient if the parser and printer can be unified and developed in one single program, with their consistency guaranteed automatically.</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;Furthermore, in certain scenarios (like showing compiler optimisation results to the programmer), it is desirable to have a more powerful reflective printer that, when an abstract syntax tree corresponding to a piece of program text is modified, can reflect the modification to the program text while preserving layouts, comments, and syntactic sugar.</p>
          <p>&nbsp;&nbsp;&nbsp;&nbsp;To address these needs, we propose a domain-specific language <span class="small-caps">BiYacc</span>, whose programs denote both a parser and a reflective printer for an unambiguous context-free grammar. <span class="small-caps">BiYacc</span> is based on the theory of bidirectional transformations, which helps to guarantee by construction that the pairs of parsers and reflective printers generated by <span class="small-caps">BiYacc</span> are consistent. We show that <span class="small-caps">BiYacc</span> is capable of facilitating many tasks such as Pombrio and Krishnamurthi’s “resugaring”, language evolution, and refactoring.</p>
        </div>
      </div>

      <div class="article" id="article2">
        <div class="RTopic">Test Cases</div>
        <div>
          We have tested our system with some examples. Please try them online.
          <br>
          A few notes:
          <ul>
            <li>Please leave the source empty if you want a traditional printer, however, it will produce ugly results as for current <span class="small-caps">BiYacc</span>.</li>
            <li>The compilation takes half a minute for the Tiger example.
            <br>
            (The most time consuming part is the compilation of the parser generated by Happy.)
            </li>
            <li>The warning and error messages produced from Happy may not be gathered and shown in this webGUI.</li>
            <li>
              <font color = "red">The server will do cleaning every hour. Your compiled program may be deleted at that time.</font>
            </li>
          </ul>
          <div class="styled-select" style="width:400px;">
            <select name="exampleChoice" onchange="chooseExample(value)" style="width:400px;">
              <!-- <option value="empty">Select one</option> -->
              <option value="expr">Arithmetic Expression</option>
              <option value="tigerUnambi">The Tiger Language (Unambiguous Grammar)</option>
              <option value="exprKleene">Kleene Star Syntax</option>
              <option value="exprNonlinear">Nonlinear Pattern</option>
              <option value="exprAdapt">Adaptation</option>
              <option value="exprAmbi">Ambiguous Grammar</option>
              <!-- <option value="tigerUnambiKleene">The Tiger Language (Using Kleene Star Syntax)</option> -->
            </select>
          </div>
        </div>

        <div>
          <ul>
            <li>
              <div class="Step" id="step1">
                The structure of a <span class="small-caps">BiYacc</span> program is: abstract syntax (defined by Haskell data types), concrete syntax (defined by production rules, directives (possibly), and actions (updating strategies).
                <div class="StepName">BiYacc program</div>
                <div>
                  <textarea class="code" id="program"></textarea>
                </div>
              </div>

            <li id="step4">
              Compilation <br/>
              <div class="StepDescription" id="div-before-compilation-button">
                <p>Please click the compile button. The compilation may take up to half a minute. (especially for big examples such as Tiger)<br>
                   If the code is compiled successfully, boxes showing source, view and log will be shown. <br>
                   If not, the error message will be shown in a console.</p>
              </div>
              <button id="compileSubmit" type="button" class="btn btn-primary" style="margin:auto; display:block" onclick="exeCompile()">
                Click here to compile
              </button>
              <br/>
            </li>
          </ul>
        </div>
        <div class="articleBody clear"></div>
      </div>


      <div class="article" id="article3">
        <div class="RTopic">Source</div>
        <ul>
          <li>Research paper: <a href="papers/sle2016_draft.pdf">Parsing and Reflective Printing, Bidirectionally</a>. (SLE 2016)</li>
          <li><a href="src/biyacc_src.zip">Source code of <span class="small-caps">BiYacc</span>.</a></li>
          <li><a href="src/webgui.zip">Web-GUI source (this site).</a></li>
          <li><a href="src/testcases.zip">All test cases</span>.</a></li>
        </ul>
        <div class="articleBody clear"></div>
      </div>


      <div class="article">
        <div class="RTopic">Installation and Use Guide</div>
        <br />
        Please install GHC (The Glasgow Haskell Compiler), <span class="small-caps">BiGUL</span>, and <span class="small-caps">BiYacc</span> in order. <br />
        <ul>
          <li>Refer to <a href = "https://www.haskell.org/ghc/">https://www.haskell.org/ghc/</a> for installing GHC.</li>
          <li><span class="small-caps">BiGUL</span> can be installed by fire the command "cabal install bigul" in the terminal.</li>
          <li>For <span class="small-caps">BiYacc</span>, please first download the <a href="src/biyacc_src.zip">source code</a>.
        In <span class="small-caps">BiYacc</span>'s root directory, run "cabal install".</li>
        </ul>
        After installation you may use <span class="small-caps">BiYacc</span> in your command line: "biyacc biyaccProgramName outputExecutableName".
        <br>After the executable is generated, run the executable in the terminal and you will get tips.
        <br><b>Download and read the <a href="src/biyacc_README.md">README</a> file for more details.</b>
        <div class="articleBody clear"></div>
      </div>

      <div class="article" id="article4">
        <div class="RTopic">Team Members</div>

          <div class="row">
            <div class="col-md-3">
              <p><a href="http://www.prg.nii.ac.jp/members/zhu/index.html">Zirun Zhu</a></p>
            </div>
            <div class="col-md-9"><p>PhD student, SOKENDAI (The Graduate University for Advanced Studies)</p></div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <p><a href="http://www.prg.nii.ac.jp/members/zhang/">Yongzhe Zhang</a></p>
            </div>
            <div class="col-md-9"><p>PhD student, SOKENDAI (The Graduate University for Advanced Studies)</p></div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <p><a href="https://josh-hs-ko.github.io">Hsiang-Shang Ko</a></p>
            </div>
            <div class="col-md-9"><p>Assistant Professor by Special Appointment, National Institute of Informatics</p></div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <p><a href="https://isr.uci.edu/users/pedro-ribeiro-martins">Pedro Martins</a></p>
            </div>
            <div class="col-md-9"><p>Assistant Project Scientist, University of California - Irvine</p></div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <p><a href="http://haslab.uminho.pt/jas/">João Saraiva</a></p>
            </div>
            <div class="col-md-9"><p>Professor, University of Minho</p></div>
          </div>

          <div class="row">
            <div class="col-md-3">
              <p><a href="http://research.nii.ac.jp/~hu/">Zhenjiang Hu</a></p>
            </div>
            <div class="col-md-9"><p>Professor, National Institute of Informatics</p></div>
          </div>
        <div class="articleBody clear"></div>
      </div>

      <div class="article" id="article5">
      <div class="RTopic">Acknowledgments</div>
         <p>We thank Tao Zan for the template of this website.</p>
      <div class="articleBody clear"></div>
      </div>

      <div class="footer">
        <div class="line"></div>
        <p>Programming Research Laboratory, 2018</p>
        <a href="#" class="up">Go UP</a>
      </div>
    </div> <!--  end id = page-->
  </body>
</html>
